.left {
  flex: 2;
  height: 62vh;
  margin-right: 15px;
  background-color: rgb(255, 255, 255);
}

.leftContainer {
  .leftWrapper {
    padding: 20px;
    .leftIcon {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding-bottom: 20px;
      margin: 0;

      a {
        padding: 10px;
        width: 100%;
        border-radius: 50px;
        text-decoration: none;
        i {
          margin-right: 10px;
        }
      }

      :hover {
        background-color: rgb(16, 16, 16);
      }
    }
  }
}
