.shareContainer {
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
  .writeShare {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    input {
      width: 100%;
      border: 1px solid rgb(135, 135, 135);
      border-radius: 20px;
      padding: 6px 10px;
      outline: none;
      margin-left: 5px;
    }
  }
  .shareOptions {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    .shareItem {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      img {
        width: 24px;
        height: 24px;
      }
    }
    i {
      font-size: 18px;
    }
    span {
      color: rgb(104, 104, 104);
    }
  }
}
