.topBar{
    width: 100%;
    height: 50px;
    background:white;
    position: sticky;
    top: 0;
    z-index:999;
}
.topBarWrapper{
    height:100%;
    padding:0px 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
font-size:30px;
font-weight: 600;
color: darkblue;
cursor: pointer;
}
.topRight{
    display: flex;
    align-items: center;

}
.topBarIconContainer{
    cursor: pointer;
    margin-right:10px;
    color: #555;
}
.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}
.bage{
    margin: 0 5px;
}