.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.wrappar {
  width: 400px;
  height: 400px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.wrappar img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid brown;
}
.wrappar h1{
    background: lightblue;
    padding: 10px 35px;
    margin: 10px 0;
    border-radius: 10px;
}
.wrappar button{
    background: lightblue;
    padding: 10px 35px;
    margin: 10px 0;
    border-radius: 10px;
}