.navbar {
  padding: 10px 0;
  background-color: white;
}

.navContainer {
  width: 1170px;
  max-width: 2000px;

  margin: auto;
  .navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo > a {
      color: black;
      font-weight: bolder;
      text-decoration: none;
      font-size: 25px;
      span {
        color: orange;
      }
    }
    .navItem {
      display: flex;
      gap: 28px;
      .rightItem {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        i {
          color: black;
          font-size: 14px;
          background-color: rgb(216, 215, 215);
          padding: 8px;
          border-radius: 50%;
          &.active {
            color: red;
          }
        }
      }
      .profile {
        #dropdown-basic {
          padding: 0;
          margin: 0;
          background-color: transparent;
          border: none;
          box-shadow: none;
        }
        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }
      }
    }
  }
}

.searchBox {
  width: 38%;
  display: flex;
  align-items: center;
  background: rgb(235, 235, 235);
  border-radius: 50px;
  padding: 7px 5px;
}
.iconBox1 {
  width: 25%;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}

.searchBox input {
  padding: 0 5px;
  width: 100%;
  background: rgb(235, 235, 235);
  border: none;
  box-shadow: 0 2px 5px 0 var(--shadow);
  outline: none;
}
.searchBox i {
  cursor: pointer;
  margin-right: 5px;
}
.searchBox i:hover {
  color: #1877f2;
}
