.container {
  display: flex;
}
/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(216, 216, 216);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #717171;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.main {
  flex: 7;
  background-color: #181818;
}
.wrapper {
  padding: 22px 96px;
}
